{% extends '/admin/layout/main.twig' %}
{% block content %}
    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <form id="filterForm">
                    <div class="col-md-6 col-sm-6">
                        <div class="dataTables_length" id="example1_length">
                            <input type="hidden" name="orderCol" value="{{ params.orderCol }}">
                            <input type="hidden" name="orderDir" value="{{ params.orderDir }}">
                            {{ t('app', 'Show') }}
                                <select name="perPage" class="form-control input-sm pagination-select">
                                    {% for perPage in app.params.per_pages %}
                                    <option value="{{ perPage}}"{{ app.request.get.perPage == perPage ? 'selected' }}>
                                        {{ perPage}}
                                    </option>
                                    {% endfor %}
                                </select> {{ t('app', 'records') }}

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div id="example1_filter" class="dataTables_filter pull-right">
                            <label>{{ t('app', 'Search') }}:
                                <input type="search" name="q" class="form-control input-sm" placeholder="..." value="{{ app.request.get.q }}">
                            </label>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="itemsTable" class="table table-bordered table-striped dataTable" role="grid"
                               aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <th class="order_{{ params['orderCol'] =='id' ? params['orderDir'] : '' }}"
                                    data-col="id">
                                    ID{{ app.params['orderCol'] }}
                                </th>
                                <th class="order_{{ params['orderCol'] =='email' ? params['orderDir'] : '' }}"
                                    data-col="email">
                                    E-mail
                                </th>
                                <th class="order_{{ params['orderCol'] =='username' ? params['orderDir'] : '' }}"
                                    data-col="username">
                                    Username
                                </th>
                                <th>
                                    Roles
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending">
                                    Status
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending">
                                    {{ t('app', 'Actions') }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.rolesList }}</td>
                                <td>{{ user.status }}</td>
                                <td><button class="btn-danger btn-xs"><i class="fa fa-remove"></i></button></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" role="status" aria-live="polite">
                            {{ t('app', 'Showing') }} {{ pages.fromItem}} - {{ pages.toItem }}
                            {{ t('app', 'of') }} {{ pages.pagination.totalCount }} {{ t('app', 'records') }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers pull-right">
                                {{ use('/yii/widgets') }}
                                {{ link_pager_widget({ 'pagination': pages.pagination }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
