{% extends '/admin/layout/main.twig' %}
{% block content %}
    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <form>
                    <div class="col-md-6 col-sm-6">
                        <div class="dataTables_length" id="example1_length">
                            {{ t('app', 'Show') }}
                                <select name="per_page" class="form-control input-sm pagination-select">
                                    {% for per_page in app.params.per_pages %}
                                    <option value="{{ per_page}}"{{ app.request.get.per_page == per_page ? 'selected' }}>
                                        {{ per_page}}
                                    </option>
                                    {% endfor %}
                                </select> {{ t('app', 'records') }}

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div id="example1_filter" class="dataTables_filter pull-right">
                            <label>{{ t('app', 'Search') }}:
                                <input type="search" name="q" class="form-control input-sm" placeholder="..." value="{{ app.request.get.q }}">
                            </label>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="itemsTable" class="table table-bordered table-striped dataTable" role="grid"
                               aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <th class="order_{{ app.view.params['orderCol']=='id' ? app.view.params['orderType'] : '' }}"
                                    data-col="id">
                                    ID
                                </th>
                                <th class="order_{{ app.view.params['orderCol']=='email' ? app.view.params['orderType'] : '' }}"
                                    data-col="email">
                                    E-mail
                                </th>
                                <th class="order_{{ app.view.params['orderCol']=='username' ? app.view.params['orderType'] : '' }}"
                                    data-col="username">
                                    Username
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending">
                                    Roles
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending">
                                    Status
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending">
                                    {{ t('app', 'Actions') }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.rolesList }}</td>
                                <td>{{ user.status }}</td>
                                <td><button class="btn-danger btn-xs"><i class="fa fa-remove"></i></button></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" role="status" aria-live="polite">
                            {{ t('app', 'Showing') }} {{ app.view.params.itemFrom}} - {{ app.view.params.itemTo }}
                            {{ t('app', 'of') }} {{ app.view.params.totalCount }} {{ t('app', 'records') }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers pull-right">
                                {{ use('/yii/widgets') }}
                                {{ link_pager_widget({ 'pagination': app.view.params.pagination }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
